@import "text.css";
@import "shared.css";
@import "global.css";

/*--Blog Post Layout--*/
.container{
    width:100%;
    background-color: #000;
    /*---Default grid for SMALL displays---*/
    display:grid;
    grid-template-rows: 100px 1fr auto 200px 250px;
    grid-template-columns: 100%;
    grid-template-areas:
        "hd"
        "art"
        "auth"
        "nv"
        "ft";
}

/*--Article Layout & Content--*/
article{
    grid-area: art;
    background-color: #fff;
    margin: 30px 5% 30px 5%;
    padding: 0px 20px 20px 20px;
    display:flex; 
    flex-direction:column;
}

#post-title,
.post-text,
.about{
    color: #000 !important;
}

#post-content{
    display: flow-root;
}

.feat-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.featured{
    margin: 10px 0px 20px 0px;
    max-width: 250px;
    max-height: 250px;
}

#image-gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid grey;
}

.gallery-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.thumbnail{
    height: 120px;
    width: 120px;
}

#social-sharing{
    margin-top: 30px;
    height: 30px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
}

#social-icons{
    margin: -30px 0px 0px 20px;
    display: flex;
    flex-direction: row;
    grid-gap: 20px;
    align-items: center;
}

/*--About the Author Box--*/
#author{
    grid-area: auth;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(116, 1, 64);
    margin: 0px 5% 30px 5%;
    border-top: 3px solid #000;
}

.author-info{
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#avatar{
    grid-area: av;
    margin-top: -20px;
    height: 200px;
    width: 150px;
}

#about-title{
    margin-top: -20px;
    grid-area: ab;
}

#name{
    grid-area: nm;
}

#biography{
    grid-area: bio;
    font-size: 16px;
}

/*-------Alt formatting for MEDIUM displays---------*/
@media(min-width: 600px) and (max-width: 900px){
    .feat-image{
        float: right;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    img.featured{
        margin-bottom: 20px;
        max-width: 250px;
        max-height: 250px;
    }
 
    .thumbnail{
        width: 160px;
        height: 160px;
    }

    .author-info{
        display: grid;
        grid-template-columns: 180px 1fr;
        grid-template-rows: repeat (6, 30px);
        grid-template-areas: 
        "av ab"
        "av nm"
        "bio bio";
    }

    #avatar{
        margin-top: 0px;
    }

    #name{
        margin-top: -70px;
        padding-right: 10px;
        grid-area: nm;
    }
    
    .nav-menu{
        display:flex;
        flex-direction: column;
        padding-left: 20px;
        margin: 0px;
        border-top: 1px solid black; 
        border-bottom: 1px solid black; 
    }

    .container{
        width:100%;
        display:grid;
        grid-template-rows: 100px 1fr auto 200px;
        grid-template-columns: repeat(4,1fr);
        grid-template-areas:
            "hd hd hd hd"
            "art art art nv"
            "auth auth auth nv"
            "ft ft ft ft";
    }
}

/*-------Alt formatting for LARGE displays---------*/
@media(min-width: 901px){
    .container{
        width:100%;
        display:grid;
        grid-template-rows: 100px 1fr auto 200px;
        grid-template-columns: repeat(5,1fr);
        grid-template-areas:
            "hd hd hd hd hd"
            "art art art art nv"
            "auth auth auth auth nv"
            "ft ft ft ft ft";
    }

    .feat-image{
        float: right;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    img.featured{
        margin-bottom: 20px;
        max-width: 300px;
        max-height: 300px;
    }

    .thumbnail{
        width: 200px;
        height: 200px;
    }

    .author-info{
        display: grid;
        grid-template-columns: 180px 1fr;
        grid-template-rows: repeat (6, 30px);
        grid-template-areas: 
        "av ab"
        "av nm"
        "bio bio";
    }

    #avatar{
        margin-top: 0px;
    }

    #name{
        margin-top: -70px;
        padding-right: 10px;
        grid-area: nm;
    }
}
