@import "text.css";
@import "shared.css";
@import "global.css";


/*Blog Post Layout*/

.container{
    width:100%;
    background-color: #000;
    /*Default grid for small displays*/
    display:grid;
    grid-template-rows: 100px 1fr auto 150px 200px;
    grid-template-columns: 100%;
    grid-template-areas:
        "hd"
        "art"
        "auth"
        "nv"
        "ft";
}

.post-title{
    padding-left: 20px;
}

#content{
    display: flow-root;
    padding-left: 20px;
    padding-right: 20px;
}

.feat-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.featured{
    margin: 10px 0px 20px 0px;
    max-width: 250px;
    max-height: 250px;
}

.post-title,
.post-text{
    color: #000;
}

article{
    grid-area: art;
    background-color: #fff;
    margin: 30px 5% 30px 5%;
    display:flex; 
    flex-direction:column;
}

#image-gallery{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 10px;
}

#social-sharing{
    margin-top: 30px;
    height: 30px;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
}

#social-icons{
    margin: -30px 0px 0px 20px;
    display: flex;
    flex-direction: row;
    grid-gap: 20px;
    align-items: center;
}

#author{
    grid-area: auth;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(116, 1, 64);
    margin: 0px 5% 30px 5%;
    border-top: 3px solid #000;
}

.author-info{
    background-color: #fff;
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-template-rows: repeat (6, 30px);
    grid-template-areas: 
    "av ab"
    "av nm"
    "bio bio";
}

.about{
    color: #000;
}

#avatar{
    grid-area: av;
    padding: 5px;
    height: 200px;
    width: 150px;
}

#about-title{
    grid-area: ab;
}

#name{
    margin-top: -70px;
    padding-right: 10px;
    grid-area: nm;
}

#biography{
    grid-area: bio;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}

.thumbnail{
    height: 150px;
    width: 150px;
}

/*Alt layouts for medium displays*/
@media(min-width: 600px) and (max-width: 900px){
    .feat-image{
        float: right;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    img.featured{
        margin-bottom: 20px;
        max-width: 250px;
        max-height: 250px;
    }
    
    .nav-menu{
        display:flex;
        flex-direction: column;
        padding-left: 20px;
        margin: 0px;
        border-top: 1px solid black; 
        border-bottom: 1px solid black; 
    }

    .container{
        width:100%;
        display:grid;
        grid-template-rows: 100px 1fr auto 200px;
        grid-template-columns: repeat(4,1fr);
        grid-template-areas:
            "hd hd hd hd"
            "art art art nv"
            "auth auth auth nv"
            "ft ft ft ft";
    }

    #blog-cat-links{
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
  
    .thumbnail{
        width: 180px;
        height: 180px;
    }
}

/*Alt layouts for large displays*/
@media(min-width: 901px){
    .container{
        width:100%;
        display:grid;
        grid-template-rows: 100px 1fr auto 200px;
        grid-template-columns: repeat(5,1fr);
        grid-template-areas:
            "hd hd hd hd hd"
            "art art art art nv"
            "auth auth auth auth nv"
            "ft ft ft ft ft";
    }

    .feat-image{
        float: right;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    img.featured{
        margin-bottom: 20px;
        max-width: 300px;
        max-height: 300px;
    }
  
    .thumbnail{
        width: 210px;
        height: 210px;
    }
}
