@import "text.css";
@import "global.css";

/*--Homepage Layout--*/
.container{
    /*Default grid for small displays*/
    display:grid;
    grid-template-rows: 100px 1fr 200px 250px;
    grid-template-columns: 100%;
    grid-template-areas:
        "hd"
        "ca"
        "nv"
        "ft";
}

/*--Content Layout--*/
.content-area{
    display:flex; 
    flex-direction:column;
    margin-left: 0px 5% 0px 5%;
    padding: 0px 20px 0px 20px;
    grid-area: ca;
}

#overview{
    margin-top: -15px;
}

.card-grid{
    display:grid; 
    margin-bottom: 20px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6,1fr);
    grid-gap: 20px;
}

.card{
    display:flex; 
    flex-direction:column;
    align-items: center;
    background-color: rgb(248, 248, 248);
    padding: 10px;
    box-shadow: 0px 0px 2px 2px #494949; 
    z-index: 1;
}

.card:hover{
    box-shadow: 0px 0px 2px 5px rgb(116, 1, 64);
    transition-duration: .6s;
}

.card-image{
    object-fit: contain;
    max-height: 270px;
    max-width: 270px;
    z-index: 2;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

p.caption{
    margin-top: -25px;
}

/*-------Alt formatting for MEDIUM displays---------*/
@media(max-width: 600px){
    .card-grid{
        max-width: 400px;
        margin: auto;
        margin-bottom: 20px;
    }
    .card-image{
        max-height: 300px;
        max-width: 300px;
    }
}

/*-------Alt formatting for MEDIUM displays---------*/
@media(min-width: 601px) and (max-width: 960px){
    .content-area{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        grid-area: ca;
    }

    .card-grid{
        max-width: 800px;
        margin: auto;
        display:grid; 
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-gap: 20px;
    }

    .card-image{
        max-height: 250px;
        max-width: 250px;
    }
}

/*-------Alt formatting for LARGE displays---------*/
@media(min-width: 961px){
    .container{
        width:100%;
        display:grid;
        grid-template-rows: 100px 1fr 200px;
        grid-template-columns: repeat(5,1fr);
        grid-template-areas:
            "hd hd hd hd hd"
            "ca ca ca ca nv"
            "ft ft ft ft ft";
    }

    .content-area{
        display:flex; 
        flex-direction:column;
        margin-left: 5%;
        grid-area: ca;
    }

    .card-grid{
        display:grid; 
        margin: auto;
        max-width: 90%;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-gap: 30px;
        padding-bottom: 50px;
    }

    .card-image{
        max-height: 300px;
        max-width: 300px;
    }
}