@import "text.css";
@import "shared.css";
@import "global.css";

/*Homepage Layout*/
.container{
    width:100%;
    background-color: #000;
    /*Default grid for small displays*/
    display:grid;
    grid-template-rows: 100px 1fr 150px 200px;
    grid-template-columns: 100%;
    grid-template-areas:
        "hd"
        "ca"
        "nv"
        "ft";
}

.content-area{
    display:flex; 
    flex-direction:column;
    margin-left: 5%;
    margin-right: 5%;
    grid-area: ca;
}

#intro,
#overview{
    padding-left: 20px;
    padding-right: 20px;
}

.card-grid{
    display:grid; 
    margin-bottom: 20px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6,1fr);
    grid-gap: 20px;
}
.card{
    display:flex; 
    flex-direction:column;
    align-items: center;
    background-color: #fff;
    padding: 5px 5px 10px 5px;
    box-shadow: 0px 0px 2px 2px #494949; 
    z-index: 1;
}

.card-image{
    max-height: 350px;
    max-width: 350px;
    padding-bottom: 15px;
    border-bottom: 1px solid grey;
    z-index: 3;
}

button.card-button{
    border: 1px solid transparent;
    box-shadow: 0px 0px 1px 2px #afafaf; 
    background-color: #fff;
    color:#000;
    text-align: center;
    width: 100%;
    margin-top: 15px;
    padding: 0px 20px 0px 20px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.card-button:hover {
    background-color: #f3f3f3;
    box-shadow: 0px 0px 2px 3px #3b2931; 
  }

/*Alt layouts for medium displays*/
@media(min-width: 600px) and (max-width: 900px){
    .content-area{
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        grid-area: ca;
    }

    .card-grid{
        margin: auto;
        max-width: 800px;
        display:grid; 
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-gap: 15px;
    }

    .card-image{
        max-height: 250px;
        max-width: 250px;
        border-bottom: 1px solid grey;
        z-index: 3;
    }
}

/*Alt layouts for large displays*/
@media(min-width: 901px){
    .container{
        width:100%;
        display:grid;
        grid-template-rows: 100px 1fr 200px;
        grid-template-columns: repeat(5,1fr);
        grid-template-areas:
            "hd hd hd hd hd"
            "ca ca ca ca nv"
            "ft ft ft ft ft";
    }

    .content-area{
        display:flex; 
        flex-direction:column;
        margin-left: 5%;
        grid-area: ca;
    }

    .card-grid{
        display:grid; 
        margin: auto;
        max-width: 90%;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-gap: 25px;
        padding-bottom: 50px;
    }

    .card-image{
        max-height: 300px;
        max-width: 300px;
        border-bottom: 1px solid grey;
        z-index: 3;
    }
}