/*--Imported Fonts--*/
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&family=Urbanist:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&display=swap');

/*--Header Styles--*/
h1{
    font-family: 'Bubbler One', sans-serif;
    font-size: 36px;
    font-style: italic;
    text-transform: uppercase;
    text-shadow: 4px 4px 4px rgb(80, 0, 40);
}
h2{
    font-family: 'Urbanist', sans-serif;
    text-decoration: underline #009420;
    font-size: 26px;
    color:#fff;
}

h3{
    font-family: 'Urbanist', sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight:600;
    color:#009420;
}
h4{
    font-family: 'Bubbler One', sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    color: #000;
}

/*--Other Text Styles--*/
p,
ul,
ol{
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    color:#fff;
}

p.caption{
    font-family: 'Oxygen', sans-serif;
    font-size: 13px;
    color:#000;
    margin-top: -10px;
}

ul,
ol{
    margin: -20px 0px -20px 0px;
}

li:not(:last-child) {
    margin-bottom: 10px;
    font-size: 15px;
}

a{
    font-family: 'Oxygen', sans-serif;
    font-size: 18px;
    color:rgb(255, 180, 20);
}

a:hover{
    color:rgb(233, 159, 0);
}

a:visited{
    color:#009420;
}

/*-----Alt formatting on SMALL displays-----*/
@media(max-width: 600px){
    h1{
        font-size: 30px;
    }
}