@import "textStyles.css";
@import "sharedContent.css";
@import "globalBehavior.css";

/*Homepage Layout*/
body{
    margin: 0px;
    padding: 0px;
    overflow: scroll;
}

.container{
    width:100%;
    background-color: #000;
    /*Default grid for small displays*/
    display:grid;
    grid-template-rows: 100px 1fr 150px 200px;
    grid-template-columns: 100%;
    grid-template-areas:
        "hd"
        "art"
        "auth"
        "nv"
        "ft";
}

article{
    background-color: #fff;
    display:flex; 
    flex-direction:column;
    margin-left: 5%;
    margin-right: 5%;
    grid-area: art;
    border: 1px solid red;
}

.imageGallery{
    border: 1px solid yellow;
}

section.authorInfo{
    grid-area: art;
    border: 1px solid green;
}

/*Alt layouts for medium displays*/
@media(min-width: 600px) and (max-width: 900px){
    .navMenu{
        grid-area: nv;
        display:flex;
        flex-direction: column;
        /*display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 50px 30px 30px 30px;
        grid-template-areas:
        "nv-h nv-h nv-h"
        "nv-l nv-l nv-l";*/
    }
}

/*Alt layouts for large displays*/
@media(min-width: 901px){
    .navMenu{
        background-color:rgb(80, 0, 40);
        display:flex;
        flex-direction: column;
        padding-left: 20px;
        margin: 0px;
        border-top: 1px solid black; 
        border-bottom: 1px solid black;  
    }


}