
header.allPages{
    min-height: 50px;
    background-color:rgb(128, 0, 70);
    padding-left: 5%;
    padding-right: 5%;
    display:flex;
    flex-direction:column;
    grid-area: hd;
    color: #ffffff;
}

.navMenu{
    background-color:rgb(80, 0, 40);
    padding-left: 5%;
    padding-right: 5%;
    grid-area: nv;
    display:flex;
    flex-direction: column;
}

#blogCatLinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

footer.allPages{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 20px;
    grid-area: ft;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 60px, 1fr;
    grid-template-areas:
    "sb"
    "fm";
    background-color:rgb(128, 0, 70);
    color:#ffffff;
}

#subscribe{
    grid-area:sb;
}

#signup{
    grid-area:fm;
}

label{
    font-family: Urbanist, sans-serif;
}

input{
    padding: 1px;
    width: 200px;
}

button{
    font-family: Urbanist, sans-serif;
    color: #fff;
    background-color: #000;
    margin-left: 10px;
    padding: 5px;
}