@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lato:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?&family=Lora:ital@0;1&display=swap');
@import "Meyer-reset.css";


body{
    font-family: 'Lato', sans-serif;
    padding: 50px;
}

header{
    height: 50px;
}

button{
    border: none;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding: 10px 30px 10px 30px;
}

#container-button{
    border: 1px solid red;
    margin: 30px;
    height: 50px;
}

/* ---DIVS--- */
#white{
    background-color: #fff;
    padding: 30px;
    border: 1px solid black;
}

#dark{
    background-color: rgb(43, 7, 46);
    padding: 30px;
}

#blue{
    background-color: rgb(9, 5, 71);
    padding: 30px;
}

#grey{
    background-color: rgb(216, 216, 216);
    padding: 30px;
}
/*-----CONVEX-----*/
.convex{
    border-radius: 15px;
    width: 400px;
    background: linear-gradient(#f0f0f0, #8da3a3);
    border: 2px #fff;
    box-shadow: 0px 0px 2px 1px rgb(102, 102, 102);
}

.convex:hover{
    font-weight: 400;
    background: linear-gradient(#d4d4d4, #81a0a0);
    box-shadow: 0px 0px 2px 1px rgb(85, 85, 85);
}

/*-----HIGHLIGHT-----*/
.highlight{
    border: none;
    margin: 0px 30px 0px 30px;
    font-weight: 400;
    background: #b2d104;
    box-shadow: 0px 0px 2px 3px rgb(102, 102, 102);
    clip-path: inset(0px -3px -3px -3px);
}

.highlight:hover{
    background: #c8eb04;
    margin-top: -20px;
    padding: 9px 30px 11px 30px;
    box-shadow: 0px 0px 2px 2px rgb(114, 114, 114);
}

/*-----STEALTH-----*/
.stealth{
    border-bottom: 2px solid #04d1b6;
    color: rgb(214, 214, 214);
    background: none;
    margin: 0px 30px 0px 30px;
    font-weight: 400;
}

.stealth:hover{
    text-shadow: 1px 1px 2px #010535;
    border-bottom: 2px solid #d8e700;
    color: #fff;
}

/*-----FLOATING-----*/
.floating{
    color: #000;
    font-family: 'Lora', serif;
    background: white;
    margin: 0px 30px 0px 30px;
    box-shadow: 0px 0px 1px 5px inset rgb(149, 184, 147);
}

.floating:hover{
    box-shadow: 0px 0px 2px 5px inset rgb(91, 116, 89);
}