@import "text.css";

/* ---- Base Rules ---- */
body {
    background: #000;
    background-image: url('../media/green-swooshy.jpg');
    background-size: cover;
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin', serif;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
     "head"
     "main"
     "foot";
}

.page__header{
    grid-area: head;
    position: sticky;
}

.page__main{
    grid-area: main;
}

.main-container {
    background: rgb(136,203,171);
    margin: 50px 0px 0px 25%;
    padding: 0;
    font-family: 'Cabin', serif;
    color: #fff;
    display: flex;
    flex-direction: column;
}
@media(max-width:600px){
    .main-container {
        margin: 10% 0% 10% 10%;
        padding: 0;
    }
}

.page__footer{
    grid-area: foot;
}




/* ---- Layout Rules ---- */
/* main {
} */

.main-hero {
    min-height: 80vh;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

section {
    position: relative;
    min-height: 80vh;
}

/* ---- Module Rules ---- */

/* Navigation Styles*/
.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: right;
}

.navbar__menu li {
    display: inline-block;
    color: #fff;
    padding: 1em 2em 1em 2em;
    font-weight: bold;
    text-decoration: none;
}

.navbar__menu li:hover {
    background: #333;
    color: rgb(241, 238, 4);
    transition: ease 0.3s all;
}

/* Header Styles */
.page__header {
    background: #000;
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px; /*placeholder*/
    z-index: 5;
}

/* Footer Styles */
.page__footer {
    background: #000;
    color: #fff;
    /* width: 100%; */
}

.page__footer p{
    padding: 3em;
    color: #fff;
}


/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 10%;
    text-align: left;
}

/* @media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
} */

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}


/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
section.your-active-class {
    display: block;
}

section.your-active-class .landing__container::before {
    opacity: 1;
}

section.your-active-class .landing__container::after {
    opacity: 1;
}
