/* 

not finished! need to adjust nav menu for mobile! 

*/


@import "text.css";

/* ---- Base Rules ---- */
body {
    background: #000;
    background-image: url('../media/rocky-water.jpg');
    background-size: cover;
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin', serif;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px 1fr auto;
    grid-template-areas: 
     "head"
     "main"
     "foot";
     scroll-behavior: smooth;
}

.page__header{
    grid-area: head;
    position: sticky;
}

.page__main{
    grid-area: main;
}

.main-container {
    background: rgb(79, 90, 88);
    margin: 50px 0px 0px 25%;
    padding: 0;
    font-family: 'Cabin', serif;
    color: #fff;
    display: flex;
    flex-direction: column;
}
@media(max-width:730px){
    .main-container {
        margin: 10% 0% 10% 15%;
        padding: 0;
    }
}

.page__footer{
    grid-area: foot;
}



/* ---- Layout Rules ---- */

.main-hero {
    min-height: 80vh;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

section {
    position: relative;
    min-height: 80vh;
}

/* ---- Module Rules ---- */


/* Header Styles */
.page__header {
    background: #000;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 5;
    display: block;
}
@media(max-width:730px){
    .page__header {
        height: 60px;
    }
}

/* Navigation Styles*/
.navbar__menu ul {
    padding-left: 0px;
    margin: 0px 2em 0px 2em;
    text-align: right;
}

.navbar__menu li {
    display: inline-block;
    padding: 1em 1.5em 1em 1.5em;
}
.navbar__menu li.active {
    background-color:rgba(14, 34, 31, 0.884);
}

.navbar__menu li a{
    font-family: 'Nunito', Sans-Serif;
    font-size: 20px;
    color: #fff;
    padding: 0px 10px 10px 10px;
}
.navbar__menu li a:hover {
    color: #fff;
    border-bottom: 2px solid rgb(11, 35, 172);
}

@media(max-width:730px){
    .navbar__menu ul {
        margin: 1em 1em 0px 1em;
        padding-bottom: 10px;
    }
    .navbar__menu li {
        padding: 0px 0px 0px 10px;
    }
    .navbar__menu li a{
        padding: 0px 10px 10px 10px;
        font-size: 18px;
    }
}




/* Footer Styles */
.page__footer {
    background: #000;
    color: #fff;
}

.page__footer p{
    padding: 3em;
    color: #fff;
}


/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 10%;
    text-align: left;
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}


/* ---- Theme State Rules ---- */
/* Section Active Styles */

section.active-section {
    display: block;
    background-color:rgb(50, 77, 72);
}

section.active-section .landing__container::before {
    opacity: 1;
}

section.active-section .landing__container::after {
    opacity: 1;
}
