/* Typography*/
h1 {
    font-family: 'Cabin', sans-serif;
    font-size: 4em;
    padding: 2em 1rem;
}
@media only screen and (min-width: 601px){
    h1 {
        font-size: 6em;
        padding: 2em 4rem 2em;
    }
}

h2 {
    border-bottom: 1px solid rgb(11, 35, 172);
    font-family: 'Cabin', Sans-Serif;
    font-size: 3em;
    color: #fff;
}

p {
    font-family: 'Nunito', Sans-Serif;
    font-size: 16px;
    line-height: 1.7em;
    color: #eee;
}

a {
    color: rgb(48, 116, 241);
    text-decoration: none;
}
a:hover {
    color: rgb(3, 73, 202);
}
a:visited {
    text-decoration: none;
}

