/* Typography*/
h1 {
    font-family: 'Cabin', sans-serif;
    font-size: 4em;
    padding: 2em 1rem;
}
@media only screen and (min-width: 601px){
    h1 {
        font-size: 7em;
        padding: 2em 4rem 1em;
    }
}

h2 {
    border-bottom: 1px solid rgb(29, 63, 255);
    font-family: 'Cabin', Sans-Serif;
    font-size: 3em;
    color: #fff;
}

p {
    font-family: 'Nunito', Sans-Serif;
    font-size: 16px;
    line-height: 1.7em;
    color: #eee;
}

a {
    color: rgb(48, 116, 241);
    text-decoration: none;
}

a:hover {
    color: rgb(3, 73, 202);
}

.navbar__menu li a{
    font-family: 'Nunito', Sans-Serif;
    font-size: 20px;
    color: #fff;
    padding: 0px 10px 10px 10px;
}
@media(max-width:600px){
    .navbar__menu li a{
        font-size: 16px;
        padding: 0px 10px 10px 10px;
    }
}
.navbar__menu li a:hover {
    color: rgb(48, 116, 241);
    border-bottom: 2px solid rgb(29, 63, 255);
}

